bandit==1.8.3
coverage==7.6.12
iniconfig==2.0.0
markdown-it-py==3.0.0
mdurl==0.1.2
mypy==1.15.0
mypy-extensions==1.0.0
packaging==24.2
pbr==6.1.1
pluggy==1.5.0
Pygments==2.19.1
pytest==8.3.4
pytest-cov==6.0.0
PyYAML==6.0.2
rich==13.9.4
ruff==0.9.7
stevedore==5.4.1
typing_extensions==4.12.2
